*{
  font-family: 'Alegreya', sans-serif;
}

header{
  height: 280px;
  background: url(../img/headerbg.png) center;
  background-size: cover;
  border: 2px solid #aaa;
  border-radius: 1px;
}

.logo{
  width: 100px;
  height: 100px;
  background: url(../img/logo.png) center;
  background-size: cover;
  display: inline-block;
  float: left;
  margin: 0px 0 0 10px;
}
nav{
  float: right;
  text-align: center;
  display: inline block;
}
nav ul{
  list-style: none;
  display: flex;
  margin: 0 20px 0 0;
}
nav ul li{
    margin: 30px 0px 0 0;
}
nav a{
  margin-left: 20px;
  font-weight: 700;
  size: 14px;
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover{
  color: #777;
}

nav #navselected{
  color: #444;
}
h1{
  text-align: center;
  font-size: 54px;
  font-weight: 700px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 10px;
  display: inline-block;
  border: 10px solid black;
  position: absolute;
  margin-top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.kicker{
  color: black;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 220px;
  transform: translateX(-50%);

}



@media screen and (max-width: 480px) {
  nav ul{
    padding: 0;
    margin: 0;
    top: 30px;
    right: 30px;
    position: absolute;
    display: list-item;
  }
  nav ul li{
    text-align: left;
    font-size: 20px;
    margin: 0;
  }
  h1{
    margin-top: 120px;
    font-size: 32px;
  }
  .kicker {
    font-size: 18px;
  }
}
